*{
    margin: 0;
    padding: 0;
}

nav li{
    display: flex;
    
    display: flex;
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row-reverse;
}

img{
    width: 200px;
    height: 200px;
    display: flex;
    float: right;
    
}

h1{
    text-align: center;
}

.coup, .anglaise, .carna, .carpe{
    display: flex;
}



